In [17]:
# this is our preamble cell :
# remember to check for anything missing 
import pandas as pd
from pandas import DataFrame
import numpy as np
import matplotlib 


import category_encoders as ce
from sklearn.model_selection import train_test_split


from sklearn.pipeline import Pipeline
from sklearn.pipeline import make_pipeline


from sklearn import cluster
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD
from sklearn.ensemble import GradientBoostingClassifier

from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.tree import plot_tree

In [57]:
# OK, importing and minor cleaning first. 

dfreal = pd.read_csv('True.csv',
                    parse_dates = ['date'])
#                    index_col = 'date')
dfreal['Fake'] = 0
print('Real data shape: ', dfreal.shape)

dffake = pd.read_csv('Fake.csv',
                    parse_dates = ['date'])
#                    index_col = 'date')

dffake['Fake'] = 1
print('Fake data shape: ', dffake.shape)

Real data shape:  (21417, 5)
Fake data shape:  (23481, 5)

In [58]:
# this is proof that only the fake csv has garbage dates in it, which is why none of the parse dates worked. 
dfreal['date'].value_counts()
#.tail(50)

2017-12-20    182
2017-12-06    166
2017-11-30    162
2017-11-09    158
2017-10-13    155
             ...
2016-09-11      1
2016-05-14      1
2016-05-30      1
2016-08-06      1
2016-09-03      1
Name: date, Length: 716, dtype: int64

In [59]:
dffake['date'].value_counts()

May 10, 2017                                                                                                                                             46
May 5, 2016                                                                                                                                              44
May 26, 2016                                                                                                                                             44
May 6, 2016                                                                                                                                              44
May 11, 2016                                                                                                                                             43
                                                                                                                                                         ..
November 20, 2017                                                                                                                                         1
November 19, 2017                                                                                                                                         1
https://100percentfedup.com/12-yr-old-black-conservative-whose-video-to-obama-went-viral-do-you-really-love-america-receives-death-threats-from-left/     1
October 9, 2017                                                                                                                                           1
Jul 19, 2015                                                                                                                                              1
Name: date, Length: 1681, dtype: int64

In [84]:

# dffake = 
comma_list = pd.DataFrame(dffake['date'].str.find(','))

comma_list.value_counts()
comma_list.shape

(23481, 1)

In [108]:
# df = df[~df['your column'].isin(['list of strings'])]
# http = ['http',".com"]
# dffake2 = dffake[~dffake.date.isin(http)]

searchfor = ['http', '-', 'MSNBC']
dffake2 = dffake[~dffake['date'].str.contains('|'.join(searchfor))]

In [109]:
dffake2['date'].value_counts()

May 10, 2017         46
May 26, 2016         44
May 6, 2016          44
May 5, 2016          44
May 11, 2016         43
                     ..
October 9, 2017       1
December 19, 2017     1
November 19, 2017     1
October 22, 2017      1
December 9, 2017      1
Name: date, Length: 1669, dtype: int64

In [110]:
print(dffake2.shape)
print(dfreal.shape)

(23436, 5)
(21417, 5)

In [105]:
#dffake2['date'] = pd.to_datetime(dffake2['date'], format='%m%d%y')
# dffake2['date'] = dffake2['date'].astype('datetime64[ns]')

In [116]:
# now I'll trim those up so they are the same length - 
# 50% real 50% fake seems reasonable right?

dfreal_trimmed = dfreal[-21_400 :]
print('Real trimmed shape: ', dfreal_trimmed.shape)

dffake_trimmed = dffake2[-21_400 :]
print('Fake trimmed shape: ', dffake_trimmed.shape)

# and now combine them into one dataframe:
df_joined = dfreal_trimmed.append(dffake_trimmed, ignore_index=True)

df_joined['date'] = pd.to_datetime(df_joined['date'])

print()
print('Combined and trimmed (equal parts Real and Fake) shape: ', df_joined.shape)
print()
#print(df_joined.head(1))
#df_joined.head(25)

Real trimmed shape:  (21400, 5)
Fake trimmed shape:  (21400, 5)

Combined and trimmed (equal parts Real and Fake) shape:  (42800, 5)

In [119]:
df_joined['date'].value_counts()

# Holy Smokes I think all the date times are clean. 
# Let's never spend 2 days on that again.

2017-12-20    194
2017-12-06    180
2017-11-09    178
2017-11-30    175
2017-10-13    171
             ...
2015-06-21      1
2015-06-07      1
2015-07-19      1
2015-07-18      1
2015-04-02      1
Name: date, Length: 1004, dtype: int64

In [12]:

# All URL's and Wrong-Dates seem to be corrected. Finally.  
# X and y are still not the same length - need to fix that...

In [154]:
# X and y split

target = df_joined['Fake']

X = df_joined.drop(['Fake'], axis=1)

y = target

print('X shape: ', X.shape)
print('y shape: ', y.shape)

X shape:  (42800, 4)
y shape:  (42800,)

In [15]:
# this is silly but it's good form, so here's a baseline. 
print('Baseline :', df_joined['Fake'].value_counts().max()/len(df_joined['Fake']))

Baseline : 0.5

In [141]:
# train test split:

# leaving this code here in case I set up my target wrong. 
# X = df.drop(['target'],axis=1).values   # independant features
# y = df['target'].values					# dependant variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
# doing 25/75 split and 42. 

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=42) # 0.25 x 0.8 = 0.2

In [142]:
print(X_train.shape)
print(y_train.shape)
print(X_val.shape)
print(y_val.shape)
print(X_test.shape)
print(y_test.shape)

(24075, 4)
(24075,)
(8025, 4)
(8025,)
(10700, 4)
(10700,)

In [ ]:
# Wonderful. All variables should be set up the right way... but I will still check in with someone about whether I did this right.

In [162]:
df_joined.head()

,title,text,subject,date,Fake
0,"Trump on Twitter (Dec 26) - Hillary Clinton, T...",The following statements were posted to the ve...,politicsNews,2017-12-26,0
1,U.S. appeals court rejects challenge to Trump ...,(Reuters) - A U.S. appeals court in Washington...,politicsNews,2017-12-26,0
2,Treasury Secretary Mnuchin was sent gift-wrapp...,(Reuters) - A gift-wrapped package addressed t...,politicsNews,2017-12-24,0
3,Federal judge partially lifts Trump's latest r...,WASHINGTON (Reuters) - A federal judge in Seat...,politicsNews,2017-12-24,0
4,Exclusive: U.S. memo weakens guidelines for pr...,NEW YORK (Reuters) - The U.S. Justice Departme...,politicsNews,2017-12-23,0

## *I don't think we'll use this but here's a Count Vectorizer just in case:*

In [122]:
# instantiate the count vectorizer:
cv = CountVectorizer(stop_words = 'english', strip_accents ='ascii', max_features = 50, max_df = 0.95 , min_df = 0.01 )

# here's a function to return a dataframe:

def create_term_matrix(message_list, vectorizer):
    doc_term_df = vectorizer.fit_transform(message_list)
    return DataFrame(doc_term_df.toarray(),
                     columns=vectorizer.get_feature_names())

# now here's the actual "thing":

df_joined_CountVector = create_term_matrix(df_joined['text'], cv)

df_joined_CountVector.describe()

,according,american,called,campaign,clinton,country,court,democratic,did,donald,...,support,time,told,trump,united,washington,week,white,year,years
count,42800.000000,42800.000000,42800.000000,42800.000000,42800.000000,42800.000000,42800.000000,42800.000000,42800.000000,42800.000000,...,42800.000000,42800.000000,42800.000000,42800.000000,42800.000000,42800.000000,42800.000000,42800.000000,42800.000000,42800.000000
mean,0.315047,0.360117,0.295794,0.483505,0.618014,0.389159,0.329299,0.303575,0.369673,0.590771,...,0.297734,0.460935,0.529416,2.523014,0.536028,0.422009,0.299813,0.483178,0.557126,0.386589
std,0.787854,1.065031,0.658973,1.347394,2.304309,0.904674,1.353023,0.888128,0.797977,1.020930,...,0.768017,0.910293,0.939773,4.386813,1.283105,0.954925,0.675320,1.305252,1.120097,0.890714
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,0.000000,1.000000,1.000000,3.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,20.000000,48.000000,10.000000,31.000000,67.000000,26.000000,43.000000,18.000000,20.000000,32.000000,...,24.000000,28.000000,13.000000,73.000000,42.000000,35.000000,10.000000,36.000000,27.000000,61.000000

In [ ]:
# Tf-IDF Vectorizer are the same results are doing a Count Vectorizer followed by a Tf-IDF Transform. 
# GradientBoostingClassifier. Good thing we learned some params today. 
# 
# I still have questions regarding how to merge the results from this with my orginal df_joined(41,800 x 5) - so pin in that for now. 

# 
# create a dictionary for myself (ex: year and years same word) - (sisichen)
# find an NLP function that can cluster similiar words together - lookup common NLP functions - (sisichen)

# merging original frame and target vector with results so that I can train test split and fit model...
# Ngrams. They exist in the parameters for the vectorizer / model below...

## *now for TF-IDF*

In [123]:
# alright, let's see if I can generate anything to show for myself re: TF-IDF Vectorizer... 

# instantiate:
tfidf = TfidfVectorizer(stop_words = 'english', strip_accents ='ascii', max_features = 100, min_df= 0.25 , max_df= 0.75)
# ngram_range=(1,2) - we're gonna play with the ngrams soon, be patient. 
def create_term_matrix(message_list, vectorizer):
    doc_term_df = vectorizer.fit_transform(message_list)
    return DataFrame(doc_term_df.toarray(),
                     columns=vectorizer.get_feature_names())

df_joined_tfidfvector = create_term_matrix(df_joined['text'], tfidf)

df_joined_tfidfvector.describe()

,did,donald,government,house,just,like,new,news,people,president,...,said,state,states,time,told,trump,united,washington,year,years
count,42800.000000,42800.000000,42800.000000,42800.000000,42800.000000,42800.000000,42800.000000,42800.000000,42800.000000,42800.000000,...,42800.000000,42800.000000,42800.000000,42800.000000,42800.000000,42800.000000,42800.000000,42800.000000,42800.000000,42800.000000
mean,0.057967,0.074543,0.095066,0.085921,0.081424,0.077734,0.093882,0.076336,0.120271,0.139008,...,0.284245,0.105763,0.081423,0.070897,0.080758,0.240842,0.075819,0.068428,0.084785,0.061514
std,0.124761,0.119868,0.190222,0.177617,0.157294,0.158628,0.168228,0.168455,0.192616,0.183971,...,0.254718,0.197059,0.150857,0.139093,0.142268,0.313414,0.152301,0.136795,0.161222,0.132984
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.065831,...,0.245803,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.052837,0.122746,0.113759,0.091760,0.114470,0.098803,0.140322,0.056671,0.186142,0.230169,...,0.470852,0.144302,0.122473,0.103245,0.130172,0.492389,0.087407,0.088721,0.121459,0.039246
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.980876,1.000000,1.000000,1.000000

In [158]:
# instantiate 2nd: much different mix max:
tfidf2 = TfidfVectorizer(stop_words = 'english', strip_accents ='ascii', max_features = 100, min_df= 0.5 , max_df= 0.99)
# ngram_range=(1,2) - we're gonna play with the ngrams soon, be patient. 
def create_term_matrix(message_list, vectorizer):
    doc_term_df = vectorizer.fit_transform(message_list)
    return DataFrame(doc_term_df.toarray(),
                     columns=vectorizer.get_feature_names())

df_joined_tfidfvector2 = create_term_matrix(df_joined['text'], tfidf2)

df_joined_tfidfvector2.describe()

          president       reuters          said
count  42800.000000  42800.000000  42800.000000
mean       0.317227      0.206191      0.585572
std        0.368417      0.262745      0.397562
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000
50%        0.148918      0.084481      0.741972
75%        0.612889      0.368261      0.951749
max        1.000000      1.000000      1.000000

In [161]:
# instantiate: once again, different min max. 

tfidf3 = TfidfVectorizer(stop_words = 'english', strip_accents ='ascii', max_features = 50, min_df= 0.2 , max_df= 0.4)
# ngram_range=(1,2) - we're gonna play with the ngrams soon, be patient. 
def create_term_matrix(message_list, vectorizer):
    doc_term_df = vectorizer.fit_transform(message_list)
    return DataFrame(doc_term_df.toarray(),
                     columns=vectorizer.get_feature_names())

df_joined_tfidfvector3 = create_term_matrix(df_joined['text'], tfidf3)

df_joined_tfidfvector3.info

<bound method DataFrame.info of        according  american    called  campaign   country       did    donald  \
0       0.000000  0.000000  0.000000  0.498824  0.000000  0.000000  0.192121
1       0.000000  0.000000  0.000000  0.000000  0.000000  0.143514  0.116522
2       0.331001  0.000000  0.000000  0.000000  0.000000  0.000000  0.249475
3       0.184967  0.000000  0.364490  0.000000  0.348085  0.000000  0.139410
4       0.000000  0.000000  0.090353  0.000000  0.086286  0.000000  0.069116
...          ...       ...       ...       ...       ...       ...       ...
42795   0.305618  0.153602  0.000000  0.000000  0.000000  0.000000  0.000000
42796   0.000000  0.000000  0.000000  0.000000  0.000000  0.745385  0.000000
42797   0.062684  0.000000  0.061761  0.000000  0.058982  0.058189  0.000000
42798   0.000000  0.000000  0.000000  0.000000  0.000000  0.483405  0.000000
42799   0.534158  0.322159  0.105259  0.104530  0.100522  0.000000  0.000000

       election     going  government  ...    states      time      told  \
0      0.000000  0.259713    0.000000  ...  0.000000  0.436389  0.000000
1      0.301517  0.000000    0.136075  ...  0.659463  0.000000  0.000000
2      0.000000  0.000000    0.000000  ...  0.000000  0.000000  0.806885
3      0.000000  0.000000    0.162803  ...  0.473397  0.000000  0.000000
4      0.000000  0.093432    0.080714  ...  0.078233  0.235488  0.000000
...         ...       ...         ...  ...       ...       ...       ...
42795  0.000000  0.000000    0.000000  ...  0.260729  0.130803  0.000000
42796  0.000000  0.000000    0.000000  ...  0.000000  0.000000  0.000000
42797  0.000000  0.000000    0.331036  ...  0.160430  0.160970  0.076403
42798  0.000000  0.000000    0.000000  ...  0.000000  0.222877  0.000000
42799  0.208353  0.000000    0.000000  ...  0.000000  0.274339  0.086808

         united  washington       way      week     white      year     years
0      0.000000    0.000000  0.000000  0.000000  0.000000  0.644126  0.000000
1      0.139562    0.275613  0.000000  0.000000  0.000000  0.000000  0.000000
2      0.000000    0.000000  0.000000  0.327407  0.000000  0.000000  0.000000
3      0.500926    0.164874  0.187637  0.000000  0.000000  0.155800  0.172414
4      0.082782    0.000000  0.000000  0.000000  0.000000  0.077242  0.000000
...         ...         ...       ...       ...       ...       ...       ...
42795  0.275891    0.136210  0.155015  0.151150  0.000000  0.000000  0.000000
42796  0.000000    0.000000  0.000000  0.397125  0.000000  0.000000  0.000000
42797  0.056587    0.530808  0.158972  0.155008  0.000000  0.026400  0.175289
42798  0.000000    0.000000  0.264133  0.000000  0.000000  0.219317  0.000000
42799  0.000000    0.095227  0.000000  0.000000  0.103342  0.089986  0.000000

[42800 rows x 35 columns]>

In [ ]:
# from pdpbox.pdp import pdp_isolate, pdp_plot
# that should be pip installed now. 
# also pip installed plotly.

In [157]:
print(X_train.shape)
print(y_train.shape)

(24075, 4)
(24075,)

In [ ]:
# # Create pipeline
model1 = Pipeline([
    ('vectorizer', TfidfVectorizer(lowercase=True, stop_words = 'english', strip_accents ='ascii', max_features = 100, ngram_range=(1,1))),
    ('dim_red', TruncatedSVD(n_components=50, random_state=42)),
    ('predictor', GradientBoostingClassifier(random_state=42))
])

# Fit model to training data
model1.fit(X_train, y_train);